.contactsBlock {
  height: 500px;
  background-color: #a4afee;
}

.skillsConteiner {
  display: flex;
  flex-direction: column;

}

.form {
  display: flex;
  flex-direction: column;

}

.inputBlock {
  display: flex;
  flex-direction: column;

}

.input {

}

.textarea {

}

.buttonForm {

}