.skillsBlock {
  background-color: #789bbb;
}

.skillsConteiner {
  flex-direction: column;
}

.title {
  background-color: #94aea8;
}

.skills {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  border: 1px solid;
}