
.singleProject {
  display: flex;
  width: 350px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #00ffa1;
  border: solid 1px #b300ff;
}

.projectDisplay {
  display: flex;
  width: 300px;
  height: 300px;
  justify-content: center;
  align-items: center;
  background: #65d265;
}

.btnSeeMore{
  /*margin: 38%;*/
}

/*.projectDescription {*/
/*  background: #65d2c0;*/
/*}*/

.projectTitle {
  height: 50px;
  border: solid 1px #003cff;
}

.projectBrief {
  height: 150px;
  border: solid 1px #ff0900;
}
