.projectsBlock {
  display: flex;
  background-color: #eedda4;
}

.projectsConteiner {
  flex-direction: column;
}

.title {
  margin: 0 auto;
  border: solid 1px #00ff0d;
}

.projects {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  border: solid 1px #002fff;
}
